In [33]:
# import libraries


import pandas as pd

import seaborn as sns
import numpy as np

import matplotlib.pyplot as plt

from sklearn.ensemble import RandomForestRegressor

from sklearn.linear_model import LinearRegression, Ridge,Lasso
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
from sklearn.compose import ColumnTransformer

In [4]:
# import dataset

df=pd.read_csv("data.csv", index_col=[0])

df.head()

,car_name,brand,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,Maruti Alto,Maruti,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5,120000
1,Hyundai Grand,Hyundai,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5,550000
2,Hyundai i20,Hyundai,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5,215000
3,Maruti Alto,Maruti,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5,226000
4,Ford Ecosport,Ford,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5,570000

In [5]:
# data cleaning

# check missing values

df.isnull().sum()

car_name             0
brand                0
model                0
vehicle_age          0
km_driven            0
seller_type          0
fuel_type            0
transmission_type    0
mileage              0
engine               0
max_power            0
seats                0
selling_price        0
dtype: int64

In [6]:
df.columns

Index(['car_name', 'brand', 'model', 'vehicle_age', 'km_driven', 'seller_type',
       'fuel_type', 'transmission_type', 'mileage', 'engine', 'max_power',
       'seats', 'selling_price'],
      dtype='object')

In [9]:
df["model"].unique()

array(['Alto', 'Grand', 'i20', 'Ecosport', 'Wagon R', 'i10', 'Venue',
       'Swift', 'Verna', 'Duster', 'Cooper', 'Ciaz', 'C-Class', 'Innova',
       'Baleno', 'Swift Dzire', 'Vento', 'Creta', 'City', 'Bolero',
       'Fortuner', 'KWID', 'Amaze', 'Santro', 'XUV500', 'KUV100', 'Ignis',
       'RediGO', 'Scorpio', 'Marazzo', 'Aspire', 'Figo', 'Vitara',
       'Tiago', 'Polo', 'Seltos', 'Celerio', 'GO', '5', 'CR-V',
       'Endeavour', 'KUV', 'Jazz', '3', 'A4', 'Tigor', 'Ertiga', 'Safari',
       'Thar', 'Hexa', 'Rover', 'Eeco', 'A6', 'E-Class', 'Q7', 'Z4', '6',
       'XF', 'X5', 'Hector', 'Civic', 'D-Max', 'Cayenne', 'X1', 'Rapid',
       'Freestyle', 'Superb', 'Nexon', 'XUV300', 'Dzire VXI', 'S90',
       'WR-V', 'XL6', 'Triber', 'ES', 'Wrangler', 'Camry', 'Elantra',
       'Yaris', 'GL-Class', '7', 'S-Presso', 'Dzire LXI', 'Aura', 'XC',
       'Ghibli', 'Continental', 'CR', 'Kicks', 'S-Class', 'Tucson',
       'Harrier', 'X3', 'Octavia', 'Compass', 'CLS', 'redi-GO', 'Glanza',
       'Macan', 'X4', 'Dzire ZXI', 'XC90', 'F-PACE', 'A8', 'MUX',
       'GTC4Lusso', 'GLS', 'X-Trail', 'XE', 'XC60', 'Panamera', 'Alturas',
       'Altroz', 'NX', 'Carnival', 'C', 'RX', 'Ghost', 'Quattroporte',
       'Gurkha'], dtype=object)

In [7]:
# remove unnecessary data

# I decide to keep model & remove 'car_name', 'brand'

df.drop(columns=['car_name', 'brand', ], axis=1, inplace=True)

In [8]:
df.head()

,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5,120000
1,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5,550000
2,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5,215000
3,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5,226000
4,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5,570000

In [18]:
# understanding different data points

num_feature= [i for i in df.columns if df[i].dtype!="O"]

class_feature= [i for i in df.columns if df[i].dtype=="O"]

disc_feature= [i for i in df.columns if len(df[i].unique())<=25]

contin_feature= [i for i in df.columns if i not in disc_feature]


print(len(num_feature), len(class_feature), len(disc_feature), len(contin_feature))

7 4 5 6

In [19]:
# feature identification

X=df.drop("selling_price", axis=1)
y=df["selling_price"]

In [20]:
X.head()

,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats
0,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5
1,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5
2,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5
3,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5
4,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5

In [23]:
# data processing

lbl_enc = LabelEncoder()

X["model"]=lbl_enc.fit_transform(X["model"])

In [25]:
num_features = X.select_dtypes(exclude="object").columns
onehot_columns = ['seller_type','fuel_type','transmission_type']

from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer

numeric_transformer = StandardScaler()
oh_transformer = OneHotEncoder(drop='first')

preprocessor = ColumnTransformer(
    [
        ("OneHotEncoder", oh_transformer, onehot_columns),
        ("StandardScaler", numeric_transformer, num_features)
        
    ],remainder='passthrough'
    
)

In [26]:
X=preprocessor.fit_transform(X)

In [27]:
pd.DataFrame(X)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,-1.519714,0.983562,1.247335,-0.000276,-1.324259,-1.263352,-0.403022
1,1.0,0.0,0.0,0.0,0.0,1.0,1.0,-0.225693,-0.343933,-0.690016,-0.192071,-0.554718,-0.432571,-0.403022
2,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.536377,1.647309,0.084924,-0.647583,-0.554718,-0.479113,-0.403022
3,1.0,0.0,0.0,0.0,0.0,1.0,1.0,-1.519714,0.983562,-0.360667,0.292211,-0.936610,-0.779312,-0.403022
4,0.0,0.0,1.0,0.0,0.0,0.0,1.0,-0.666211,-0.012060,-0.496281,0.735736,0.022918,-0.046502,-0.403022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15406,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.508844,0.983562,-0.869744,0.026096,-0.767733,-0.757204,-0.403022
15407,0.0,0.0,0.0,0.0,0.0,1.0,1.0,-0.556082,-1.339555,-0.728763,-0.527711,-0.216964,-0.220803,2.073444
15408,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.407551,-0.012060,0.220539,0.344954,0.022918,0.068225,-0.403022
15409,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.426247,-0.343933,72.541850,-0.887326,1.329794,0.917158,2.073444
15410,0.0,0.0,0.0,0.0,0.0,1.0,0.0,-1.024131,-1.339555,-0.825631,-0.407839,0.020999,0.395884,-0.403022

In [28]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=42)
X_train.shape, X_test.shape

((12328, 14), (3083, 14))

In [30]:
def evaluate_model(true, predicted):
    mae = mean_absolute_error(true, predicted)
    mse = mean_squared_error(true, predicted)
    rmse = np.sqrt(mean_squared_error(true, predicted))
    r2_square = r2_score(true, predicted)
    return mae, rmse, r2_square

In [31]:
models = {
    "Linear Regression": LinearRegression(),
    "Lasso": Lasso(),
    "Ridge": Ridge(),
    "K-Neighbors Regressor": KNeighborsRegressor(),
    "Decision Tree": DecisionTreeRegressor(),
    "Random Forest Regressor": RandomForestRegressor(),
   
}

In [34]:
for i in range(len(list(models))):
    model = list(models.values())[i]
    model.fit(X_train, y_train) # Train model

    # Make predictions
    y_train_pred = model.predict(X_train)
    y_test_pred = model.predict(X_test)
    
    # Evaluate Train and Test dataset
    model_train_mae , model_train_rmse, model_train_r2 = evaluate_model(y_train, y_train_pred)

    model_test_mae , model_test_rmse, model_test_r2 = evaluate_model(y_test, y_test_pred)

    
    print(list(models.keys())[i])
    
    print('Model performance for Training set')
    print("- Root Mean Squared Error: {:.4f}".format(model_train_rmse))
    print("- Mean Absolute Error: {:.4f}".format(model_train_mae))
    print("- R2 Score: {:.4f}".format(model_train_r2))

    print('----------------------------------')
    
    print('Model performance for Test set')
    print("- Root Mean Squared Error: {:.4f}".format(model_test_rmse))
    print("- Mean Absolute Error: {:.4f}".format(model_test_mae))
    print("- R2 Score: {:.4f}".format(model_test_r2))
    
    print('='*35)
    print('\n')

Linear Regression
Model performance for Training set
- Root Mean Squared Error: 553855.6665
- Mean Absolute Error: 268101.6071
- R2 Score: 0.6218
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 502543.5930
- Mean Absolute Error: 279618.5794
- R2 Score: 0.6645
===================================


Lasso
Model performance for Training set
- Root Mean Squared Error: 553855.6710
- Mean Absolute Error: 268099.2226
- R2 Score: 0.6218
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 502542.6696
- Mean Absolute Error: 279614.7461
- R2 Score: 0.6645
===================================


Ridge
Model performance for Training set
- Root Mean Squared Error: 553856.3160
- Mean Absolute Error: 268059.8015
- R2 Score: 0.6218
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 502533.8230
- Mean Absolute Error: 279557.2169
- R2 Score: 0.6645
===================================


K-Neighbors Regressor
Model performance for Training set
- Root Mean Squared Error: 325880.8558
- Mean Absolute Error: 91392.3102
- R2 Score: 0.8691
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 253138.6083
- Mean Absolute Error: 112578.2436
- R2 Score: 0.9149
===================================


Decision Tree
Model performance for Training set
- Root Mean Squared Error: 20797.2352
- Mean Absolute Error: 5164.8199
- R2 Score: 0.9995
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 307691.5770
- Mean Absolute Error: 124639.8178
- R2 Score: 0.8742
===================================


Random Forest Regressor
Model performance for Training set
- Root Mean Squared Error: 133858.4121
- Mean Absolute Error: 39933.3247
- R2 Score: 0.9779
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 229227.0514
- Mean Absolute Error: 101644.0628
- R2 Score: 0.9302
===================================

In [36]:
knn_params = {"n_neighbors": [2, 3, 10, 20, 40, 50]}
rf_params = {"max_depth": [5, 8, 15, None, 10],
             "max_features": [5, 7, "auto", 8],
             "min_samples_split": [2, 8, 15, 20],
             "n_estimators": [100, 200, 500, 1000]}

In [37]:
randomcv_models = [('KNN', KNeighborsRegressor(), knn_params),
                   ("RF", RandomForestRegressor(), rf_params)]

In [38]:
from sklearn.model_selection import RandomizedSearchCV

model_param = {}
for name, model, params in randomcv_models:
    random = RandomizedSearchCV(estimator=model,
                                   param_distributions=params,
                                   n_iter=100,
                                   cv=3,
                                   verbose=2,
                                   n_jobs=-1)
    random.fit(X_train, y_train)
    model_param[name] = random.best_params_

for model_name in model_param:
    print(f"---------------- Best Params for {model_name} -------------------")
    print(model_param[model_name])

Fitting 3 folds for each of 6 candidates, totalling 18 fits

/opt/anaconda3/lib/python3.11/site-packages/sklearn/model_selection/_search.py:320: UserWarning: The total space of parameters 6 is smaller than n_iter=100. Running 6 iterations. For exhaustive searches, use GridSearchCV.
  warnings.warn(

Fitting 3 folds for each of 100 candidates, totalling 300 fits
[CV] END ......................................n_neighbors=3; total time=   0.2s
[CV] END .....................................n_neighbors=40; total time=   0.7s
[CV] END max_depth=15, max_features=auto, min_samples_split=15, n_estimators=1000; total time=   0.0s
[CV] END max_depth=15, max_features=8, min_samples_split=15, n_estimators=100; total time=   2.2s
[CV] END max_depth=8, max_features=5, min_samples_split=8, n_estimators=500; total time=   5.4s
[CV] END max_depth=None, max_features=auto, min_samples_split=20, n_estimators=100; total time=   0.0s
[CV] END max_depth=None, max_features=5, min_samples_split=2, n_estimators=1000; total time=  21.9s
[CV] END max_depth=8, max_features=auto, min_samples_split=15, n_estimators=200; total time=   0.0s

/opt/anaconda3/lib/python3.11/site-packages/joblib/externals/loky/process_executor.py:700: UserWarning: A worker stopped while some jobs were given to the executor. This can be caused by a too short worker timeout or by a memory leak.
  warnings.warn(

[CV] END ......................................n_neighbors=3; total time=   0.2s
[CV] END .....................................n_neighbors=40; total time=   0.7s
[CV] END max_depth=15, max_features=auto, min_samples_split=15, n_estimators=1000; total time=   0.0s
[CV] END max_depth=10, max_features=5, min_samples_split=15, n_estimators=200; total time=   2.5s
[CV] END max_depth=5, max_features=8, min_samples_split=2, n_estimators=100; total time=   1.2s
[CV] END max_depth=5, max_features=8, min_samples_split=2, n_estimators=100; total time=   1.0s
[CV] END max_depth=15, max_features=auto, min_samples_split=8, n_estimators=1000; total time=   0.0s
[CV] END max_depth=15, max_features=auto, min_samples_split=8, n_estimators=1000; total time=   0.0s
[CV] END max_depth=None, max_features=5, min_samples_split=2, n_estimators=1000; total time=  22.2s
[CV] END max_depth=None, max_features=5, min_samples_split=2, n_estimators=1000; total time=  23.2s
[CV] END ......................................n_neighbors=3; total time=   0.2s
[CV] END .....................................n_neighbors=20; total time=   0.6s
[CV] END max_depth=5, max_features=5, min_samples_split=2, n_estimators=200; total time=   1.5s
[CV] END max_depth=15, max_features=auto, min_samples_split=8, n_estimators=200; total time=   0.0s
[CV] END max_depth=8, max_features=7, min_samples_split=2, n_estimators=500; total time=   7.0s
[CV] END max_depth=8, max_features=7, min_samples_split=2, n_estimators=500; total time=   6.6s
[CV] END max_depth=10, max_features=auto, min_samples_split=2, n_estimators=200; total time=   0.0s
[CV] END max_depth=10, max_features=auto, min_samples_split=2, n_estimators=200; total time=   0.0s
[CV] END max_depth=10, max_features=auto, min_samples_split=2, n_estimators=200; total time=   0.0s
[CV] END max_depth=10, max_features=8, min_samples_split=2, n_estimators=100; total time=   1.7s
[CV] END max_depth=10, max_features=8, min_samples_split=15, n_estimators=500; total time=   7.9s
[CV] END max_depth=10, max_features=8, min_samples_split=15, n_estimators=500; total time=   8.3s
[CV] END max_depth=None, max_features=auto, min_samples_split=2, n_estimators=200; total time=   0.0s
[CV] END max_depth=None, max_features=auto, min_samples_split=2, n_estimators=200; total time=   0.0s
[CV] END max_depth=None, max_features=auto, min_samples_split=2, n_estimators=200; total time=   0.0s
[CV] END max_depth=5, max_features=7, min_samples_split=8, n_estimators=100; total time=   1.1s
[CV] END max_depth=5, max_features=7, min_samples_split=8, n_estimators=100; total time=   0.9s
[CV] END max_depth=10, max_features=5, min_samples_split=8, n_estimators=1000; total time=  12.3s
[CV] END max_depth=None, max_features=5, min_samples_split=15, n_estimators=1000; total time=  15.0s
[CV] END max_depth=5, max_features=5, min_samples_split=2, n_estimators=1000; total time=   7.9s
[CV] END max_depth=None, max_features=5, min_samples_split=15, n_estimators=500; total time=   6.9s
[CV] END max_depth=5, max_features=7, min_samples_split=2, n_estimators=200; total time=   1.7s
[CV] END max_depth=None, max_features=7, min_samples_split=2, n_estimators=200; total time=   4.9s
[CV] END max_depth=15, max_features=7, min_samples_split=15, n_estimators=100; total time=   1.7s
[CV] END max_depth=8, max_features=5, min_samples_split=15, n_estimators=200; total time=   1.8s
[CV] END max_depth=15, max_features=7, min_samples_split=8, n_estimators=200; total time=   3.4s
[CV] END max_depth=10, max_features=auto, min_samples_split=15, n_estimators=500; total time=   0.0s
[CV] END max_depth=10, max_features=auto, min_samples_split=15, n_estimators=500; total time=   0.0s
[CV] END max_depth=10, max_features=auto, min_samples_split=15, n_estimators=500; total time=   0.0s
[CV] END max_depth=5, max_features=5, min_samples_split=20, n_estimators=1000; total time=   6.5s
[CV] END max_depth=8, max_features=5, min_samples_split=2, n_estimators=100; total time=   0.9s
[CV] END max_depth=5, max_features=8, min_samples_split=8, n_estimators=100; total time=   0.9s
[CV] END max_depth=5, max_features=8, min_samples_split=8, n_estimators=100; total time=   0.9s
[CV] END max_depth=5, max_features=8, min_samples_split=8, n_estimators=100; total time=   0.9s
[CV] END max_depth=5, max_features=7, min_samples_split=2, n_estimators=500; total time=   4.1s
[CV] END max_depth=5, max_features=5, min_samples_split=20, n_estimators=200; total time=   1.3s
[CV] END max_depth=8, max_features=8, min_samples_split=20, n_estimators=500; total time=   6.4s
[CV] END max_depth=15, max_features=8, min_samples_split=2, n_estimators=1000; total time=  22.1s
[CV] END ......................................n_neighbors=2; total time=   0.2s
[CV] END .....................................n_neighbors=20; total time=   0.5s
[CV] END .....................................n_neighbors=50; total time=   0.7s
[CV] END max_depth=15, max_features=8, min_samples_split=15, n_estimators=100; total time=   2.1s
[CV] END max_depth=8, max_features=5, min_samples_split=8, n_estimators=500; total time=   5.4s
[CV] END max_depth=8, max_features=5, min_samples_split=8, n_estimators=500; total time=   5.6s
[CV] END max_depth=10, max_features=8, min_samples_split=8, n_estimators=1000; total time=  16.0s
[CV] END max_depth=10, max_features=8, min_samples_split=8, n_estimators=1000; total time=  17.9s
[CV] END max_depth=15, max_features=8, min_samples_split=15, n_estimators=500; total time=   9.8s
[CV] END max_depth=15, max_features=8, min_samples_split=15, n_estimators=200; total time=   4.1s
[CV] END max_depth=5, max_features=8, min_samples_split=20, n_estimators=1000; total time=  10.6s
[CV] END max_depth=15, max_features=5, min_samples_split=8, n_estimators=1000; total time=  13.9s
[CV] END max_depth=5, max_features=8, min_samples_split=8, n_estimators=500; total time=   4.5s
[CV] END max_depth=10, max_features=8, min_samples_split=2, n_estimators=1000; total time=  15.3s
[CV] END max_depth=5, max_features=5, min_samples_split=20, n_estimators=200; total time=   1.3s
[CV] END max_depth=8, max_features=8, min_samples_split=20, n_estimators=500; total time=   6.5s
[CV] END max_depth=15, max_features=8, min_samples_split=2, n_estimators=1000; total time=  22.1s
[CV] END ......................................n_neighbors=2; total time=   0.2s
[CV] END .....................................n_neighbors=20; total time=   0.6s
[CV] END max_depth=5, max_features=5, min_samples_split=2, n_estimators=200; total time=   1.5s
[CV] END max_depth=15, max_features=auto, min_samples_split=8, n_estimators=200; total time=   0.0s
[CV] END max_depth=15, max_features=auto, min_samples_split=8, n_estimators=200; total time=   0.0s
[CV] END max_depth=5, max_features=auto, min_samples_split=15, n_estimators=500; total time=   0.0s
[CV] END max_depth=5, max_features=auto, min_samples_split=15, n_estimators=500; total time=   0.0s
[CV] END max_depth=5, max_features=auto, min_samples_split=15, n_estimators=500; total time=   0.0s
[CV] END max_depth=8, max_features=7, min_samples_split=2, n_estimators=500; total time=   7.0s
[CV] END max_depth=10, max_features=7, min_samples_split=2, n_estimators=500; total time=   7.9s
[CV] END max_depth=10, max_features=8, min_samples_split=2, n_estimators=100; total time=   1.8s
[CV] END max_depth=10, max_features=8, min_samples_split=2, n_estimators=100; total time=   1.7s
[CV] END max_depth=10, max_features=7, min_samples_split=15, n_estimators=500; total time=   6.8s
[CV] END max_depth=None, max_features=7, min_samples_split=15, n_estimators=1000; total time=  19.8s
[CV] END max_depth=15, max_features=8, min_samples_split=15, n_estimators=500; total time=  10.0s
[CV] END max_depth=5, max_features=8, min_samples_split=15, n_estimators=500; total time=   5.2s
[CV] END max_depth=5, max_features=8, min_samples_split=8, n_estimators=200; total time=   2.3s
[CV] END max_depth=8, max_features=5, min_samples_split=2, n_estimators=500; total time=   5.4s
[CV] END max_depth=None, max_features=5, min_samples_split=15, n_estimators=500; total time=   6.9s
[CV] END max_depth=15, max_features=5, min_samples_split=8, n_estimators=500; total time=   6.8s
[CV] END max_depth=15, max_features=7, min_samples_split=15, n_estimators=100; total time=   1.6s
[CV] END max_depth=15, max_features=5, min_samples_split=15, n_estimators=100; total time=   1.3s
[CV] END max_depth=8, max_features=5, min_samples_split=15, n_estimators=200; total time=   1.8s
[CV] END max_depth=15, max_features=7, min_samples_split=8, n_estimators=500; total time=   8.4s
[CV] END max_depth=5, max_features=5, min_samples_split=20, n_estimators=1000; total time=   6.6s
[CV] END max_depth=5, max_features=7, min_samples_split=2, n_estimators=500; total time=   4.0s
[CV] END max_depth=8, max_features=8, min_samples_split=15, n_estimators=500; total time=   6.5s
[CV] END max_depth=15, max_features=8, min_samples_split=2, n_estimators=1000; total time=  22.0s

[CV] END max_depth=8, max_features=8, min_samples_split=8, n_estimators=100; total time=   1.2s
[CV] END max_depth=5, max_features=7, min_samples_split=20, n_estimators=200; total time=   1.6s
[CV] END max_depth=None, max_features=5, min_samples_split=2, n_estimators=100; total time=   1.9s
[CV] END max_depth=None, max_features=8, min_samples_split=2, n_estimators=200; total time=   5.2s
[CV] END max_depth=None, max_features=5, min_samples_split=2, n_estimators=500; total time=   9.7s
[CV] END .....................................n_neighbors=10; total time=   0.3s
[CV] END .....................................n_neighbors=40; total time=   0.8s
[CV] END max_depth=5, max_features=5, min_samples_split=2, n_estimators=200; total time=   1.5s
[CV] END max_depth=10, max_features=5, min_samples_split=15, n_estimators=200; total time=   2.6s
[CV] END max_depth=None, max_features=8, min_samples_split=20, n_estimators=200; total time=   4.4s
[CV] END max_depth=15, max_features=auto, min_samples_split=8, n_estimators=1000; total time=   0.0s
[CV] END max_depth=8, max_features=auto, min_samples_split=15, n_estimators=200; total time=   0.0s
[CV] END max_depth=8, max_features=auto, min_samples_split=15, n_estimators=200; total time=   0.0s
[CV] END max_depth=8, max_features=7, min_samples_split=20, n_estimators=500; total time=   6.5s
[CV] END max_depth=8, max_features=7, min_samples_split=20, n_estimators=500; total time=   6.0s
[CV] END max_depth=10, max_features=7, min_samples_split=15, n_estimators=500; total time=   7.0s
[CV] END max_depth=None, max_features=7, min_samples_split=15, n_estimators=1000; total time=  19.5s
[CV] END max_depth=None, max_features=5, min_samples_split=15, n_estimators=1000; total time=  15.0s
[CV] END max_depth=5, max_features=5, min_samples_split=2, n_estimators=1000; total time=   8.0s
[CV] END max_depth=15, max_features=5, min_samples_split=8, n_estimators=1000; total time=  14.0s
[CV] END max_depth=15, max_features=5, min_samples_split=15, n_estimators=100; total time=   1.3s
[CV] END max_depth=8, max_features=5, min_samples_split=15, n_estimators=200; total time=   1.8s
[CV] END max_depth=15, max_features=7, min_samples_split=8, n_estimators=500; total time=   8.5s
[CV] END max_depth=8, max_features=5, min_samples_split=2, n_estimators=100; total time=   1.0s
[CV] END max_depth=8, max_features=5, min_samples_split=2, n_estimators=100; total time=   1.0s
[CV] END max_depth=8, max_features=8, min_samples_split=8, n_estimators=200; total time=   2.5s
[CV] END max_depth=None, max_features=5, min_samples_split=20, n_estimators=200; total time=   2.5s
[CV] END max_depth=5, max_features=7, min_samples_split=15, n_estimators=500; total time=   4.1s
[CV] END max_depth=None, max_features=5, min_samples_split=20, n_estimators=1000; total time=  12.5s
[CV] END max_depth=5, max_features=8, min_samples_split=20, n_estimators=200; total time=   1.8s
[CV] END max_depth=10, max_features=5, min_samples_split=20, n_estimators=1000; total time=  10.6s
[CV] END max_depth=10, max_features=8, min_samples_split=2, n_estimators=200; total time=   3.1s
[CV] END max_depth=15, max_features=7, min_samples_split=20, n_estimators=100; total time=   1.7s
[CV] END max_depth=None, max_features=5, min_samples_split=8, n_estimators=500; total time=   7.0s
[CV] END max_depth=10, max_features=8, min_samples_split=20, n_estimators=200; total time=   3.0s
[CV] END max_depth=None, max_features=5, min_samples_split=2, n_estimators=500; total time=   9.8s
[CV] END max_depth=10, max_features=5, min_samples_split=8, n_estimators=200; total time=   2.1s
[CV] END max_depth=None, max_features=5, min_samples_split=2, n_estimators=100; total time=   1.9s
[CV] END max_depth=None, max_features=8, min_samples_split=8, n_estimators=100; total time=   2.0s
[CV] END max_depth=10, max_features=8, min_samples_split=20, n_estimators=100; total time=   1.5s
[CV] END max_depth=15, max_features=8, min_samples_split=2, n_estimators=100; total time=   2.2s
[CV] END max_depth=None, max_features=5, min_samples_split=2, n_estimators=500; total time=   9.9s

/opt/anaconda3/lib/python3.11/site-packages/sklearn/model_selection/_validation.py:540: FitFailedWarning:
72 fits failed out of a total of 300.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
40 fits failed with the following error:
Traceback (most recent call last):
  File "/opt/anaconda3/lib/python3.11/site-packages/sklearn/model_selection/_validation.py", line 888, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "/opt/anaconda3/lib/python3.11/site-packages/sklearn/base.py", line 1466, in wrapper
    estimator._validate_params()
  File "/opt/anaconda3/lib/python3.11/site-packages/sklearn/base.py", line 666, in _validate_params
    validate_parameter_constraints(
  File "/opt/anaconda3/lib/python3.11/site-packages/sklearn/utils/_param_validation.py", line 95, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'max_features' parameter of RandomForestRegressor must be an int in the range [1, inf), a float in the range (0.0, 1.0], a str among {'sqrt', 'log2'} or None. Got 'auto' instead.

--------------------------------------------------------------------------------
32 fits failed with the following error:
Traceback (most recent call last):
  File "/opt/anaconda3/lib/python3.11/site-packages/sklearn/model_selection/_validation.py", line 888, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "/opt/anaconda3/lib/python3.11/site-packages/sklearn/base.py", line 1466, in wrapper
    estimator._validate_params()
  File "/opt/anaconda3/lib/python3.11/site-packages/sklearn/base.py", line 666, in _validate_params
    validate_parameter_constraints(
  File "/opt/anaconda3/lib/python3.11/site-packages/sklearn/utils/_param_validation.py", line 95, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'max_features' parameter of RandomForestRegressor must be an int in the range [1, inf), a float in the range (0.0, 1.0], a str among {'log2', 'sqrt'} or None. Got 'auto' instead.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
/opt/anaconda3/lib/python3.11/site-packages/sklearn/model_selection/_search.py:1052: UserWarning: One or more of the test scores are non-finite: [0.78233959        nan 0.83914357 0.83610246        nan        nan
 0.8422601  0.85264399 0.83015843        nan        nan 0.79591958
 0.83985918        nan 0.85570408        nan 0.82585932 0.84584613
        nan 0.85094085 0.83671388 0.84014184 0.83980574        nan
 0.79075714        nan 0.84092967 0.84347253 0.83479657 0.79333575
 0.84203999 0.79600192        nan        nan        nan 0.79433983
 0.78015158 0.84059939 0.83548545 0.84481075 0.82964878 0.84022957
 0.84612814 0.79653681 0.85255075 0.83851671 0.83569652        nan
        nan 0.79631055 0.81997128 0.8477359  0.84840135 0.85037499
        nan 0.76926918 0.83668872 0.83320992 0.79639194 0.82964956
 0.79498945 0.79125926 0.76754738        nan 0.82899186 0.83124698
 0.82571157 0.85890517        nan        nan 0.83232524        nan
 0.82201707 0.79186848 0.84189707 0.82301462        nan 0.8288448
 0.85676744 0.83545741 0.83499174 0.84281077 0.84742952 0.78803713
 0.85692119        nan 0.84589165 0.85790164        nan 0.83189753
 0.83088255 0.86347171 0.85688911 0.77172154 0.83635528 0.834727
 0.83725226 0.85580531 0.83900485        nan]
  warnings.warn(

---------------- Best Params for KNN -------------------
{'n_neighbors': 10}
---------------- Best Params for RF -------------------
{'n_estimators': 100, 'min_samples_split': 2, 'max_features': 8, 'max_depth': 15}

In [40]:
models = {
    "Random Forest Regressor": RandomForestRegressor(n_estimators=100, min_samples_split=2, max_depth=None, 
                                                     n_jobs=-1),
     "K-Neighbors Regressor": KNeighborsRegressor(n_neighbors=10, n_jobs=-1)
    
}
for i in range(len(list(models))):
    model = list(models.values())[i]
    model.fit(X_train, y_train) # Train model

    # Make predictions
    y_train_pred = model.predict(X_train)
    y_test_pred = model.predict(X_test)

    model_train_mae , model_train_rmse, model_train_r2 = evaluate_model(y_train, y_train_pred)

    model_test_mae , model_test_rmse, model_test_r2 = evaluate_model(y_test, y_test_pred)
    
    print(list(models.keys())[i])
    
    print('Model performance for Training set')
    print("- Root Mean Squared Error: {:.4f}".format(model_train_rmse))
    print("- Mean Absolute Error: {:.4f}".format(model_train_mae))
    print("- R2 Score: {:.4f}".format(model_train_r2))

    print('----------------------------------')
    
    print('Model performance for Test set')
    print("- Root Mean Squared Error: {:.4f}".format(model_test_rmse))
    print("- Mean Absolute Error: {:.4f}".format(model_test_mae))
    print("- R2 Score: {:.4f}".format(model_test_r2))
    
    print('='*35)
    print('\n')

Random Forest Regressor
Model performance for Training set
- Root Mean Squared Error: 127589.6732
- Mean Absolute Error: 39625.4938
- R2 Score: 0.9799
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 229275.6470
- Mean Absolute Error: 101518.4456
- R2 Score: 0.9302
===================================


K-Neighbors Regressor
Model performance for Training set
- Root Mean Squared Error: 363445.1680
- Mean Absolute Error: 103458.0062
- R2 Score: 0.8371
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 263863.7768
- Mean Absolute Error: 117441.8180
- R2 Score: 0.9075
===================================